/*
 * Styles for the OSHB Lexicon app.
 * @version 1.0
 * @author David
 */
body
{
    margin: 0;
    background-image: url(../Image/Branches.svg);
    font-family: "Palatino Linotype", Palatino, serif;
    line-height: 1.5em;
}
header
{
    background-color: rgba(240, 140, 170, 0.5);
    padding: 1em;
    border-bottom: 3px double #482400;
}
h1
{
    font: 2em/0.75em "Palatino Linotype", Palatino, serif;
    color: #482400;
    margin: 0;
    padding: 0.15em 0 0.25em 4.5em;
}
h1 span
{
    font-size: 60%;
}
h1 span.logo
{
    float: left;
    font-size: 60%;
    position: absolute;
    top: 0.75em;
    left: 1.75em;
    line-height: 0.8em;
}
h3
{
    color: #482400;
    font-size: 1.2em;
}
/* Navigation styles. */
nav
{
    background-color: rgba(150, 201, 60, 0.75);
    border-bottom: 3px double #482400;
    padding: 0.25ex 0.25em;
    color: #482400;
}
nav input
{
    font: 1em "Palatino Linotype", Palatino, serif;
}
nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li
{
	display: inline-block;
	background-color: #77250f;
    border: 1px solid #482400;
}
nav ul li.here
{
	padding: 0.25em 1em;
	background-color: #f7c5d4;
    color: #482400;
}
nav ul li a
{
	padding: 0.25em 1em;
    color: #b0d76d;
	text-decoration: none;
	display: block;
}
nav ul li a:hover
{
	background-color: #97452f;
    color: #d0e7ad;
}
/* Tab Bar Navigation styles. */
nav#tabBar
{
	border-bottom: none;
    padding: 0.25em 0.25em 0 0.25em;
    border-radius: 1em 1em 0 0;
}
nav#tabBar button
{
	background-color: #77250f;
	margin: 0 0.25em;
	padding: 0.25em 1em;
    color: #b0d76d;
    font-family: "Palatino Linotype", Palatino, serif;
    border-radius: 1em 1em 0 0;
}
nav#tabBar button:hover
{
	background-color: #97452f;
    color: #d0e7ad;
	cursor: pointer;
}
nav#tabBar button.current
{
    background-color: rgb(255, 254, 251);
    color: #482400;
	border: 2px solid rgb(255, 254, 251);
	cursor: default;
}
/* Content Styles. */
section.banner
{
	text-align: center;
}
section.banner img.responsive
{
	max-width: 100%;
	height: auto;
    border-bottom: 3px double #482400;
}
article
{
    margin: 1em ;
    padding: 1em 2em;
    background-color: rgba(255, 254, 251, 0.6);
    border-radius: 1em;
    border: 3px double #77250f;
    box-shadow: 4px 4px 2px #aaa;
	column-count: 2;
	column-gap: 3em;
	text-align: justify;
	/* Testing for hyphenation. */
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
section#display
{
    margin: 1em auto;
    background-color: rgba(255, 254, 251, 0.6);
    border-radius: 1em;
    border: 3px double #77250f;
    box-shadow: 4px 4px 2px #aaa;
    width: 32em;
	visibility: hidden;
}
section#display div.panel
{
	margin: 0 1em;
	padding-bottom: 1em;
    border-radius: 0 0 1em 1em;
	min-height: 350px;
	max-height: 450px;
	overflow: auto;
	display: none;
}
section#display div.current
{
	display: block;
}
section#display div.panel section
{
	padding-top: 1em;
}
div.license
{
	margin: 0 0 1em 1em;
}
/* Verse display. */
span.Hebrew, span.punctuation
{
    font: 1.5em/1.6em "SBL Hebrew", "Ezra SIL SR", "Ezra SIL", Cardo, "Times New Roman", David, serif;
    direction: rtl;
}
/*
span.Hebrew:hover
{
    cursor: pointer;
    background-color: rgb(242, 166, 153);
}*/
span.qere
{
    color: blue;
}
span.mark
{
    font: 1.2em/1.6em "SBL Hebrew", "Ezra SIL SR", "Ezra SIL", Cardo, "Times New Roman", David, serif;
    direction: rtl;
    color: green;
}
sup.note
{
    color: blue;
    cursor: pointer;
    direction: ltr;
}
div.selected
{
    background-color: rgba(144, 207, 146, 0.6);
}
/* BDB Styles */
p
{
    margin-bottom: 0;
    line-height: 1.5em;
}
p.root > span:first-child
{
    font-size: 1.8em;
}
span.sense
{
    display: block;
    margin-left: 1em;
}
span.ref
{
    color: green;
    cursor: pointer;
}
span.foreign
{
    color: red;
}
.xlit, .pos, .stem
{
    font-weight: bold;
}
.xlit
{
    font-family: "SBL BibLit", "Gentium Plus", serif;
}
.pron, .def, .asp
{
    font-style: italic;
}
