body
{
    margin: 0;
    background-image: url(../Image/Branches.svg);
    font-family: "Palatino Linotype", Palatino, serif;
    line-height: 1.5em;
}
header
{
    background-color: rgba(240, 140, 170, 0.5);
    padding: 1em;
    border-bottom: 3px double #482400;
}
h1
{
    font: 2em/0.75em "Palatino Linotype", Palatino, serif;
    color: #482400;
    margin: 0;
    padding: 0.15em 0 0.25em 4.5em;
}
h1 span
{
    font-size: 60%;
}
h1 span.logo
{
    float: left;
    font-size: 60%;
    position: absolute;
    top: 0.75em;
    left: 1.75em;
    line-height: 0.8em;
}
h3
{
    color: #482400;
    font-size: 1.2em;
	/*text-align: right;*/
    direction: initial;
}
/* Navigation styles. */
nav
{
    background-color: rgba(150, 201, 60, 0.75);
    border-bottom: 3px double #482400;
    padding: 0.25ex 0.25em;
    color: #482400;
}
nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li
{
	display: inline-block;
	background-color: #77250f;
    border: 1px solid #482400;
}
nav ul li.here
{
	padding: 0.25em 1em;
	background-color: #f7c5d4;
    color: #482400;
}
nav ul li a
{
	padding: 0.25em 1em;
    color: #b0d76d;
	text-decoration: none;
	display: block;
}
nav ul li a:hover
{
	background-color: #97452f;
    color: #d0e7ad;
}
/* Content Styles. */
section.banner
{
	text-align: center;
}
section.banner img.responsive
{
	max-width: 100%;
	height: auto;
    border-bottom: 3px double #482400;
}
article
{
    margin: 1em ;
    padding: 1em 2em;
    background-color: rgba(255, 254, 251, 0.6);
    border-radius: 1em;
    border: 3px double #77250f;
    box-shadow: 4px 4px 2px #aaa;
	column-count: 2;
	column-gap: 3em;
	text-align: justify;
	/* Testing for hyphenation. */
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
div.license
{
	margin: 0 0 1em 1em;
}
/* Old styles. */
nav select
{
    font-family: "Palatino Linotype", Palatino, serif;
}
/* Interface styles. */
section#work
{
	margin: 0.5em;
}
section#work aside
{
    padding: 0 1em 0.5em 1em;
    background-color: rgba(255, 251, 208, 0.7);
    border: 3px double #217438;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
	margin-top: 0.5em;
}
/* Verse display. */
span.Hebrew, span.punctuation
{
    font: 1.5em/1.6em "SBL Hebrew", "Ezra SIL SR", "Ezra SIL", Cardo, "Times New Roman", David, serif;
    direction: rtl;
}
span.Hebrew:hover
{
    cursor: pointer;
    background-color: rgb(242, 166, 153);
}
span.qere
{
    color: blue;
}
span.mark
{
    font: 1.2em/1.6em "SBL Hebrew", "Ezra SIL SR", "Ezra SIL", Cardo, "Times New Roman", David, serif;
    direction: rtl;
    color: green;
}
sup.note
{
    color: blue;
    cursor: pointer;
    direction: ltr;
}
/* Popup Styles. */
section#work div#popup
{
    position: absolute;
    background-color: rgb(255, 253, 208);
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #77250f;
    box-shadow: 2px 2px 2px rgba(64, 64, 64, 0.5);
    display: none;
}
section#work div#popup ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
section#work div#popup ul li.lemma
{
	color: #b22234;
}
section#work div#popup ul li.morph
{
	color: #3c3b6e;
}
section#work div#popup ul li.accent
{
	color: #556b2f;
}
div.footer
{
    margin: 20% auto 1em 1em;
    width: 30em;
	clear: left;
}
